<?xml version='1.0' encoding='utf-8'?>
<widget id="com.cashier.calculator" version="1.0.0" xmlns="http://www.w3.org/ns/widgets">
    <name>Cashier Calc</name>
    <description>Currency Calculator</description>
    <author>Cashier</author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="Orientation" value="portrait" />
</widget>
